@model MyEStore.Entities.HangHoa

@section MyStyles{
    <meta property="og:title" content="@Model.TenHh" />
    <meta property="og:description" content="@Model.MoTaDonVi" />
    <meta property="og:url" content="https://localhost:7238/Products/Detail/@Model.MaHh" />
    <meta property="og:image" content="https://localhost:7238/Hinh/HangHoa/@Model.Hinh" />

    <script type="text/javascript" src="https://platform-api.sharethis.com/js/sharethis.js#property=67414a83e90570001a5a614a&product=inline-share-buttons&source=platform" async="async"></script>
}
<link href="~/css/HangHoa.css" rel="stylesheet" />
<div>
    <h2>@Model.TenHh</h2>
    <hr />

    <div class="sharethis-inline-share-buttons"></div>

    <!-- AddToAny BEGIN -->
    <div class="a2a_kit a2a_kit_size_32 a2a_default_style" data-a2a-url="https://localhost:7238/Products/Detail/@Model.MaHh" data-a2a-title="@Model.TenHh">
        <a class="a2a_dd" href="https://www.addtoany.com/share"></a>
        <a class="a2a_button_facebook"></a>
        <a class="a2a_button_email"></a>
    </div>
    <script defer src="https://static.addtoany.com/menu/page.js"></script>
    <!-- AddToAny END -->

    <form asp-action="AddToCart" asp-controller="Cart" 
        asp-route-id="@Model.MaHh">
        Số lượng mua:
        <input type="number" name="qty" value="1" min="0" class="so-luong-mua" />
        <button class="btn btn-primary">Mua</button>
    </form>

    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaHh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaHh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenHh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenHh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenAlias)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenAlias)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaLoai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaLoai)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MoTaDonVi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MoTaDonVi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DonGia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DonGia)
        </dd>
        <dt class = "col-sm-2">
            <img src="~/Hinh/HangHoa/@Model.Hinh" alt="@Model.TenHh" />
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hinh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgaySx)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgaySx)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GiamGia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GiamGia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoLanXem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoLanXem)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MoTa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MoTa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaNcc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaNcc)
        </dd>
    </dl>
</div>
