@model IEnumerable<MyEStore.Models.CartItem>
<link href="~/css/HangHoa.css" rel="stylesheet" />

<h2>Thông tin Thanh toán</h2>
<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.MaHh)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.TenHh)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Hinh)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.DonGia)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.SoLuong)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.ThanhTien)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.MaHh)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.TenHh)
				</td>
				<td>
					<a asp-action="Detail" asp-route-id="@item.MaHh">
						<img src="~/Hinh/HangHoa/@item.Hinh" alt="@item.TenHh" style="height:100px;" />
					</a>
				</td>
				<td>
					@item.DonGia.ToString("#,##0.00")
				</td>
				<td>
					@item.SoLuong
				</td>
				<td>
					@item.ThanhTien.ToString("#,##0.00")
				</td>
				<td>
					<a class="btn btn-danger" asp-action="RemoveCartItem" asp-route-id="@item.MaHh">Xóa</a>
				</td>
			</tr>
		}
	</tbody>
</table>
<div>
	<div id="paypal-button-container" style="max-width:200px;"></div>

	@section Scripts {

		<script src="https://www.paypal.com/sdk/js?client-id=@ViewBag.PaypalClientId"></script>
		<script>
			paypal.Buttons({
				style: {
					disableMaxWidth: true
				},
				createOrder: (data, actions) => {
					return fetch("/Payment/PaypalOrder", {
						method: "post",
					}).then((response) => {
						if (!response.ok) {
							return response.json().then(error => { throw error; });
						}

						return response.json();
					}).then((order) => order.id)
						.catch(error => alert(error.message));
				},
				onApprove: (data, actions) => {
					return fetch(`/Payment/PaypalCapture?orderId=${data.orderID}`, {
						method: "post",
					}).then((response) => {
						if (!response.ok) {
							return response.json().then(error => { throw error; });
						}
						console.log(response);
						//Đổi địa chỉ tới action thông báo thành công
						window.location.href = "/Payment/Success";
					}).catch(error => alert(error.message));
				}
			}).render('#paypal-button-container');
		</script>
	}
</div>
